.flex {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    height: 90vh;
  } width :80px;

  li:hover {
    cursor: pointer;
  }
  
  
  ul{ list-style-type: none; }